body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: auto;
  background: #faf0e6;
}

:root {
  --main-color: #ffffff;
  --cor-secundaria: #4a98b3;
  --color-botao: #e7d800e5;
}

header {
  background: #ffffff;
  padding: 10px 0;
  text-align: center;
}

.logo img {
  height: 100%;
  width: 150px;
}

#home {
  margin-left: 630px;
  color: var(--cor-secundaria);
}

#home p {
  margin-left: -40px;
}

#termos h2 {
  margin-top: 100px;
  color: var(--cor-secundaria);
}

#termos li {
  color: black;
  margin-top: 20px;
}

header h1 {
  margin: 0;
  color: var(--cor-secundaria);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  /* Garantir que os itens do menu fiquem em uma linha */
  justify-content: center;
  /* Centraliza os itens do menu */
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  position: relative;
}

/* Linha preta abaixo dos links ao passar o mouse */
nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.7s ease, left 0.4s ease;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

nav ul li a:not(:hover)::after {
  transition: width 0.4s ease, left 0.4s ease;
  width: 0;
  left: auto;
  right: 0;
}

nav ul li a.active::after {
  width: 100%;
  left: 0;
}

main {
  padding: 20px 10%;
}

#contato h2 {
  margin-top: 100px;
}

/* final do site roda de pe___________________________________________________________ */
.footer {
  background-color: #2c2c2c;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  position: relative;
}

.footer img {
  height: 100px;
  width: 100px;
  position: relative;
  left: 50%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
}

.footer-list {
  list-style: none;
  padding: 0;
  line-height: 2.4;
}

.footer-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.7s ease, left 0.4s ease;
}

.footer-list a:hover::after {
  width: 100%;
  left: 0;
}

.footer-list a:not(:hover)::after {
  transition: width 0.4s ease, left 0.4s ease;
  width: 0;
  left: auto;
  right: 0;
}

.footer-list a.active::after {
  width: 100%;
  left: 0;
}

/* titulo do texto redes */
.footer-titulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 530px;
  display: flex;
  white-space: nowrap;
}

.footer-title2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 130px;
}

/* texto das rede */
.footer-sites {
  list-style: none;
  padding: 0;
  line-height: 2.4;
  margin-left: 400px;
}

/* linha em baixo do texto sites */
.footer-sites a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.7s ease, left 0.4s ease;
}

.footer-sites a:hover::after {
  width: 100%;
  left: 0;
}

.footer-sites a:not(:hover)::after {
  transition: width 0.4s ease, left 0.4s ease;
  width: 0;
  left: auto;
  right: 0;
}

.footer-sites a.active::after {
  width: 100%;
  left: 0;
}

/* links  */
.footer-link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-left: 130px;
}

/* parte da caixa box */
.footer-input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

/* botao de enviar_____________________________ */
.footer-button {
  padding: 10px 15px;
  background: none;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.footer-button:hover {
  background-color: #ffffff;
  color: black;
  border: 1px solid pink;
  border-radius: 5px;
}

/* Área inferior */
.footer-bottom {
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  left: 1%;
  position: absolute;
  margin-top: 15px;
}

.criador {
  position: absolute;
  left: 2%;
  margin-top: 45px;
}

.criador i {
  color: white;
  font-size: 30px;
  margin-right: 10px;
}

.criador i:hover {
  transform: translateY(-4px);
}

.images img {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 1202px) {


  #home {
    color: var(--cor-secundaria);
    margin-left: 15px;
  }

  #termos h2 {
    margin-top: 30px;
    margin-left: -30px;
  }

  .footer-bottom p {
    left: 5%;
  }

  .footer {
    margin-top: 130px;
  }

  .footer-title2 {
    margin-left: 200px;
    margin-top: 0px;
  }

  .footer-list a {
    left: 20%;
  }

  .footer img {
    height: 100px;
    width: 100px;
    position: relative;
    margin-top: -10px;
    left: 40%;
  }

  .footer-titulo {
    margin-left: 10px;
    margin-bottom: -300px;
  }

  .footer-sites {
    margin-left: -100px;
    position: absolute;
    margin-top: 300px;
  }

  .footer-divider-permanent {
    margin-top: 30px;
  }

  .images img {
    margin-left: 140px;
  }

  .criador {
    margin-left: 10px;
  }
}


@media screen and (min-width: 1038px) and (max-width: 1366px) {
  #home p {
    margin-left: -300px;
  }

  #home h2 {
    margin-left: -260px;
    color: var(--cor-secundaria);
  }

  header h1 {
    color: var(--cor-secundaria);
  }

  .footer-titulo {
    margin-left: 300px;
  }

  .footer-sites {
    margin-left: 170px;
  }

  .footer-input {
    padding: 15px;
    width: 77%;
  }

  #politica h2 {
    color: var(--cor-secundaria);
  }

}